.modal {
    color: #fff;
    padding: 32px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    z-index: 30000;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 1);
    overflow: auto;
    width: 520px;
    margin-left: -260px;
    margin-top: -260px;
    border: 2px solid #d1ae0e;
}

.modal-button {
    padding: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    margin-top: 16px;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
    border-radius: 8px;
    height: 42px;
    line-height: 42px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 18px;
}

.modal-button .modal-button-text {
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;
}

.modal-button:hover .modal-button-text {
    left: -58px;
    color: #fff;
}

.modal-button-arrow {
    right: -58px;
    width: 58px;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: right .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.modal-button:hover .modal-button-arrow {
    right: 0;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    padding: 0;
    background: transparent;
}

.close-button img {
    transition: transform .3s ease-in-out;
}

.close-button:hover {
    border-color: transparent;
}

.close-button:hover img {
    transform: rotate(360deg);
}


.modal-button:hover,
.modal-button:focus {
    background-color: #d1ae0e;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

@media (max-width: 540px) {
    .modal {
        margin: 0;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
